<!DOCTYPE html>
<html lang="es">
<head>
    <title>Crear Actor</title>
    <meta charset ="UTF-8">
    <link rel="icon"
          href="/Imagenes/dropbox.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .bgHK{
            background-image: url("/Imagenes/HK-logo-new.jpg");
            background-size:cover;
        }
    </style>
</head>
<body class="">
<!-- header 1-6-->
<nav class="navbar navbar-expand-lg navbar-dark navbarColor">


    <a class="navbar-brand" href="bienvenido">Examen Web GR2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item active white" style="padding-right: 60px;">
                <a>
                        <span>
                           <%= nombre%>
                        </span>

                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" id="navbarSupportedContent">
            <li id="btn-salir" class="nav-item active">
                <form action="/examen/borrarCookie" method="POST">
                    <button type="submit" class="btn btn-danger" >Salir</button>
                </form>

            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="mt-5 d-flex justify-content-center">
        <form action="/examen/crearActor" method="post">
            <h1>Formulario de Creacion de Entrenador</h1>

                <label for="nombreId">Nombre</label>
                <input id="nombreid" name="nombreActor" type="text">
                <br>
                <label for="apellidoId">Apellido</label>
                <input id="apellidoId" name="apellidoActor" type="text">
                <br>
                <label for="fechaNacimientoId">Fecha de Nacimiento</label>
                <input id="fechaNacimientoId" name="fechaNacimientoActor" type="date">
                <br>
                <label for="medallasId"># Peliculas</label>
                <input id="medallasId" name="numeroPeliculaActor" type="number"
                min="0"
                step="1">
                <br>
                <label for="campeonId">¿Retirado?</label>
                <input id="campeonId" name="retiradoActor" type="checkbox" value="true">
                <br>
                <a href="/examen/listarPadre">
                    <button type="button">Cancelar</button>
                </a>
                <button>Enviar Informacion</button>

        </form>
        <br>
    </div>
</div>





</body>
</html>
