<% const titulo = "Menu" %>
<%- include('../fragments/header',{titulo:titulo}) %>
<div class="container">
    <div class="centerDiv">
        <div class="divLogin white">
            <div class="text-center" style="margin-bottom: 10px">
                <h2 style="color:black"><%= titulo %></h2>
            </div>

            <div class="mt-2 d-flex justify-content-center">
                <a href="/aventura/cliente/buscar">
                    <button type="submit" class="btn btn-primary">Cliente</button>
                </a>
            </div>
            <div class="mt-2 d-flex justify-content-center">
                <a href="/aventura/cancha/buscar">
                <button type="submit" class="btn btn-primary">Canchas</button>
                </a>
            </div>
            <div class="mt-2 d-flex justify-content-center">
                <a href="/aventura/reserva/buscar">
                <button type="submit" class="btn btn-primary">Reservas</button>
                </a>
            </div>


        </div>
    </div>
</div>
<%- include('../fragments/footer') %>
