<% const nombre= 'Jorge';// codigo JS %>
<%= nombre%>
<%const arreglo= [1,2,3,4,5];%>
<%= arreglo  %>
<%const objeto = {nombre:'Adrian'};%>
<%= objeto.nombre%>
<ul>
<% arreglo.forEach((valorActual)=>{ %>
<ol>Numero:<%= valorActual%></ol>
<% }) %>
</ul>



<% if(estaVivo){%>

<h1>Esta vivooooo</h1>

<%}else {%>
<h1>Se murio</h1>

<%}%>