<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Pagina Principal</title>
    <meta charset ="UTF-8">
    <link rel="icon"
          href="/Imagenes/dropbox.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">


    <a class="navbar-brand" href="/">Examen Web GR2</a>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text mr-3 text-light">
         <%= nombre%>
        </span>

        <form action="/examen/borrarCookie" method="POST">
            <button type="submit" class="btn btn-primary"style="background-color: lightblue">Salir</button>
        </form>


    </div>



</nav>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-5 d-flex justify-content-center">
                <form action="/examen/gestionarTiendas" method="POST">
                    <button type="submit" class="btn btn-primary">Gestionar Tiendas</button>
                </form>
            </div>
        </div>


    </div>
</div>


</body>
</html>