<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Archivos - Dropbox</title>
    <meta charset ="UTF-8">
    <link rel="icon"
          href="/Imagenes/dropbox.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        /* .css */
        /* selector { propiedad:valor;}*/
        h1 {
            color: deepskyblue;
        }
        h5{
            margin-left:0%;
            font-size: 15px;
            font-weight: normal;
            color: #0070E0;
        }
        .navbar :hover:not(.active){
            margin-left:0%;
            font-size: 15px;
            font-weight: normal;
            color: #0070E0;
        }
        .azul{
            margin-left:0%;
            font-size: 12px;
            font-weight: normal;
            color: #0070E0;
        }
        .negrita{
            margin-left:0%;
            font-size: 15px;
            font-weight: bold;
            color: #0070E0;
        }
        .gris{
            margin-left:0%;
            font-size: 15px;
            font-weight: normal;
            color: #637282;
        }

        .gris1{
            margin-left:0%;
            font-size: 15px;
            font-weight: normal;
            color: #637282;
        }
        .w3-sidebar a {
            display: block;
            color: black;
            text-decoration: none;
        }
        .w3-sidebar a.active {
            background-color: #4CAF50;
            color: white;
        }

        .w3-sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

        .gris2{
            margin-left:0%;
            font-size: 15px;
            font-weight: normal;
            color: #637282;
        }
        .navbar{
            background-color:rgb(247, 249, 250);

        }

        .topnav {
            overflow: hidden;

            background-color:rgb(247, 249, 250);
            display: none;
        }
        #ocultar{
            background-color:rgb(247, 249, 250);
            transition: top 0.3s;
            overflow: auto;
        }
        .topnav .active {
            background-color: darkcyan;
            color: white;
        }

        .topnav :hover:not(.active) {
            margin-left:0%;
            font-size: 15px;
            font-weight: normal;
            color: #0070E0;
        }

        @media screen and (max-width: 700px) {
            .w3-sidebar {
                width: 0;
                height: 0;
                position: static;

            }
            .topnav {
                display: block;
                width: 100%;
                height: auto;
                text-align: center;
                float: none;

            }
        }


        table{
            width:100%;
        }

        tr{
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color:lightgrey ;
        }
        .tabla{
            padding: 3%;
        }
    </style>
</head>
<body>
<!-- header 1-6-->

<div class="row">

    <div class="col-sm-3">

        <div id="ocultar">
            <div id="mySidebar" class="w3-sidebar  w3-bar-block" style="width:17%; background-color: rgb(247, 249, 250); overflow: hidden">
                <div class="navbar">
                    <div style="border-bottom: lightgrey solid 1px;">
                        <ul style="margin-left: 2%">
                            <br>
                            <br>
                            <div>
                                <a href="http://localhost:3010/api/deber" style="background-color:rgb(247, 249, 250) ">
                                    <img src="/Imagenes/dpx1.png" style="height: 40px; width:50px">
                                </a>
                            </div>
                            <br>
                            <br>
                            <div>
                                <a href="http://localhost:3010/api/deber" style="background-color:rgb(247, 249, 250)">
                                    <h5>Archivos</h5>
                                </a>
                            </div>
                            <br>
                            <div>
                                <a href="http://localhost:3010/api/deber" style="background-color:rgb(247, 249, 250)">
                                    <h5 class ="negrita">Mis Archivos</h5>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.dropbox.com/share/folders" style="background-color:rgb(247, 249, 250)">
                                    <h5 class ="gris">Compartir</h5>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.dropbox.com/requests?_tk=web_left_nav_bar" style="background-color:rgb(247, 249, 250)">
                                    <h5 class ="gris">Solicitudes de archivos</h5>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.dropbox.com/deleted_files" style="background-color:rgb(247, 249, 250)">
                                    <h5 class ="gris">Archivos eliminados</h5>
                                </a>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>


                        </ul>
                    </div>

                    <ul>
                        <h5 class="gris">Personal</h5>
                        <h5 class="gris1">Solo tú</h5>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-9 ">
        <div class="row" >
            <div class="col-sm-2">
                <div class="topnav">
                    <div>
                        <a href="http://localhost:3010/api/deber" style="background-color:rgb(247, 249, 250)">
                            <h5 class ="negrita">Mis Archivos</h5>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.dropbox.com/share/folders" style="background-color:rgb(247, 249, 250)">
                            <h5 class ="gris">Compartir</h5>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.dropbox.com/requests?_tk=web_left_nav_bar" style="background-color:rgb(247, 249, 250)">
                            <h5 class ="gris">Solicitudes de archivos</h5>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.dropbox.com/deleted_files" style="background-color:rgb(247, 249, 250)">
                            <h5 class ="gris">Archivos eliminados</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div style="margin-left: 80%; margin-top:1%" >

                    <a class="azul" href="https://www.dropbox.com/plans?_camp=624&_tk=prompt_header_link&trigger=wahprmt">

                        <img src="/Imagenes/estrellita.png"  ><a class="azul" href="https://www.dropbox.com/plans?_camp=624&_tk=prompt_header_link&trigger=wahprmt">Subir de categoría</a>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-8">

                <h4 style="font-family:sans-serif; font-weight: 400; font-size: 20px ">Dropbox </h4>
            </div>
            <div class="col-sm-4">

                <input class="glyphicon" type="text" style="border-radius: 20px" placeholder="&#xe003 Buscar">

                <img src="/Imagenes/iconos.png" >
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <br>
                <table>
                    <tr>
                        <th style="font-weight: normal" >
                            Nombre
                        </th>
                        <th style="font-weight: normal">
                            Modificado
                        </th>
                        <th style="font-weight: normal">
                            Miembros
                        </th>
                        <th>
                            <img src="/Imagenes/tabla.png" >
                        </th>
                    </tr>
                    <tr>
                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/4.%20SIC714%20-%20Administraci%C3%B3n%20de%20SO%20y%20redes">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >ADSOR
                                </a>
                            </div>
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            29 miembros
                        </td>
                        <td>
                            ...
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/Administraci%C3%B3n%20Financiera">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >Administración Financiera
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            23 miembros
                        </td>
                        <td>
                            ...
                        </td>
                    </tr>
                    <tr>

                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/chumbi">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >Chumbi
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            2 miembros
                        </td>
                        <td>
                            ...
                        </td>

                    </tr>

                    <tr>

                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/Dise%C3%B1o%20de%20Procesos%20Organizacionales">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >Diseño de procesos
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            Solo tú
                        </td>
                        <td>
                            ...
                        </td>

                    </tr>
                    <tr>

                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/Intro%20Informatica">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >Intro Informática
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            49 miembros
                        </td>
                        <td>
                            ...
                        </td>

                    </tr>
                    <tr>

                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/JorgeZambrano">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >Jorge Zambrano
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            2 miembros
                        </td>
                        <td>
                            ...
                        </td>

                    </tr>
                    <tr>

                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/Photos">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >Photos
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            Solo tú
                        </td>
                        <td>
                            ...
                        </td>

                    </tr>
                    <tr>

                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/solucionarios">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >Solucionarios
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            Solo tú
                        </td>
                        <td>
                            ...
                        </td>

                    </tr>
                    <tr>

                        <td width="50%">
                            <div>
                                <a href="htthttps://www.dropbox.com/home/workspace">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >workspace
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            Solo tú
                        </td>
                        <td>
                            ...
                        </td>

                    </tr>
                    <tr>

                        <td width="50%">
                            <div>
                                <a href="https://www.dropbox.com/home/Proyecto%20Matem%C3%A1ticas%20Discretas">
                                    <img src="/Imagenes/carpeta.png" class="tabla" >Matemáticas Discretas
                                </a>
                            </div>


                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            Solo tú
                        </td>
                        <td>
                            ...
                        </td>

                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <div style="padding: 3%">
                    <br>
                    <button class="btn-primary" style="border-radius: 5px; margin-left: 15%">Crear nuevo archivo</button>
                    <ul>
                        <img src="/Imagenes/cargar.png" class="tabla" ><a class="azul" href="http://localhost:3010/api/deber">Cargar archivos</a>
                        <br>
                        <img src="/Imagenes/cargarc.png" class="tabla" ><a class="azul" href="http://localhost:3010/api/deber">Cargar carpeta</a>
                        <br>
                        <img src="/Imagenes/nuevacc.png" class="tabla" ><a class="azul" href="http://localhost:3010/api/deber">Nueva carpeta compartida</a>
                        <br>
                        <img src="/Imagenes/nuevac.png" class="tabla" ><a class="azul" href="http://localhost:3010/api/deber">Nueva carpeta</a>
                        <br>
                        <img src="/Imagenes/mostrar.png" class="tabla" ><a class="azul" href="http://localhost:3010/api/deber">Mostrar archivos eliminados</a>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div>
                            <a href="https://help.dropbox.com/es-la" style="background-color:rgb(247, 249, 250)">
                                <img src="/Imagenes/inte.png" style="float: right" >
                            </a>
                            <a href="https://www.dropbox.com/privacy" style="background-color:rgb(247, 249, 250)">
                                <h4 class="gris2">...       Privacidad</h4>
                            </a>

                        </div>





                    </ul>


                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>