<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grilla</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style>
        .azul{
            background-color: #005cbf;
        }
        .verde{
            background-color: #28a745;
        }
        .rojo{
            background-color: #a71d2a;
        }
        .amarillo{
            background-color: yellow;
        }
        .violeta{
            background-color: blueviolet;
        }
        .naranja{
            background-color: orange;
        }
    </style>
</head>
<body>
<h1>Grilla</h1>
<div class="row">
    <!--col- + sm/md/lg + - + #Columnas-->
    <div class="col-md-1 amarillo">Uno</div>
    <div class="col-md-1 verde">Dos</div>
    <div class="col-md-1 verde">Tres</div>
    <div class="col-md-1 verde">Cuatro</div>
    <div class="col-md-1 verde">Cinco</div>
    <div class="col-md-1 verde">Seis</div>
    <div class="col-md-1 verde">Siete</div>
    <div class="col-md-1 verde">Ocho</div>
    <div class="col-md-1 verde">Nueve</div>
    <div class="col-md-1 verde">Diez</div>
    <div class="col-md-1 verde">Once</div>
    <div class="col-md-1 verde">Doce</div>
    <div class="col-md-1 verde">Trece</div>
    <div class="col-md-1 verde">Catorce</div>
    <div class="col-md-10 rojo">Resto</div>

    <div class="col-md-1 azul">Espacio</div>

    <div class="col-md-2 naranja">
        <img width="100%" height="100px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/63/IMG_%28business%29.svg/1200px-IMG_%28business%29.svg.png" alt="">
    </div>
    <div class="col-md-2 naranja">
        <img width="100%" height="100px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/63/IMG_%28business%29.svg/1200px-IMG_%28business%29.svg.png" alt="">
    </div>
    <div class="col-md-2 naranja">
        <img width="100%" height="100px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/63/IMG_%28business%29.svg/1200px-IMG_%28business%29.svg.png" alt="">
    </div>
    <div class="col-md-2 naranja">
        <img width="100%" height="100px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/63/IMG_%28business%29.svg/1200px-IMG_%28business%29.svg.png" alt="">
    </div>
    <div class="col-md-2 naranja">
        <img width="100%" height="100px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/63/IMG_%28business%29.svg/1200px-IMG_%28business%29.svg.png" alt="">
    </div>

    <div class="col-md-1 azul">Espacio</div>
</div>
</body>
</html>