<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Estilos</title>
    <meta charset ="UTF-8">
    <link rel="icon"
          href="/Imagenes/ironman.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        /* .css */
        /* selector { propiedad:valor;}*/
        h1 {
            color: red;
            background-color: yellow;
        }

        p, h2, div {
            color: green;
            background-color: orange;
            font-size: 24px;
            font-weight: 700;
        }

        #adios {
            color: pink;
            background-color: purple;
        }


        p {
            color: orange;
            background-color: green;

        }


        .morado {
            color: purple;

        }

        .azul {
            color: deepskyblue;

        }

        .verde {
            color: greenyellow;

        }
        p.verde{
            color:orange;
        }
        p.verde.azul{
            color:black;
        }
        .modelo-cajas{
            color: red;
            background-color: yellow;
            margin: 100px;
            border-color: brown;
            border-style: solid;
            border-width: 10px;
            border-right-width: 0px;
        }
        .separador{
            margin-top:200px;
            -webkit-margin-bottom-collapse: 200px;
        }
        table{
            width:100%;
        }

        tr{
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color:brown ;

        }
    </style>
</head>
<body>
<!-- header 1-6-->



<div class="row" style="width:100%">
    <!-- .col-sm-5*3 -->
    <!-- .col-sm-5*3>h1 -->
    <div class="col-sm-2">
        <h1>LOGO</h1>
    </div>
    <div class="col-sm-7">
        <h1>MENU</h1>
    </div>
    <div class="col-sm-3">
        <h1>LOGIN</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <h1>Género de películas</h1>
        <table>
            <tr>
                <td>I</td>
                <td>Acción</td>
                <td>824</td>
            </tr>
            <tr>

                <td>Animación</td>

            </tr>
        </table>
    </div>
    <div class="col-sm-9">
        <h1>Películas online</h1>
        <p>Pelisplus.co es un sitio ideal para ver películas y series online. Nuestro sistema se preocupa por tener lo último del cine en calidad full HD.

            Para ver una película o serie de televisión puedes usar el buscador en la parte superior o seguir uno de los enlaces de genero o año de estreno en la parte izquierda del sitio, luego el enlace te llevará al reproductor donde solo tienes que dar click en el boton de play. Te invitamos a compartir este genial sitio con tus amigos y familiares.</p>
        <div class="row">
            <div class="col-sm-6"><h1>Columna1</h1></div>
            <div class="col-sm-6"><h1>Columna2</h1></div>
        </div>
    </div>
</div>
</div>





<h1 class="modelo-cajas ">Hola</h1>
<h1 id="adios">Adios</h1>
<h1 class="verde"style="color: white; background-color: black">Bienvenidos </h1>
<p>Liga</p>
<div>Liverpool</div>
<h2>Emelec</h2>
<p class=" morado azul">Lorem Ipsum</p>
<div class="verde">VERDE 1</div>
<p class="verde">VERDE 2</p>
<p class="verde azul">VERDE 2</p>

</body>
</html>

<div class="separador"></div>