<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Peliculas-Lista</title>
    <meta charset ="UTF-8">
    <link rel="icon"
          href="/Imagenes/ironman.ico">
    <link rel="notas"
          href="/Documentos/notas.pdf">Notas</link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- header 1-6-->

<h1>titulo1</h1>
<h2>titulo2</h2>
<h3>titulo3</h3>
<h4>titulo4</h4>
<h5>titulo5</h5>
<h6>titulo6</h6>

<p>Este
    <span>Otro parrafo</span>
    es mi parrafo</p>

<ul>
    <li>1</li>
    <li>2</li>
</ul>
<ol>
    <li>a</li>
    <li>b</li>
</ol>

<a href=http://www.google.com/" target="_blank">Google externo</a>
<a href="https://www.google.com/" target="_self">Google aquí mismo</a>
<img src="/Imagenes/imagen.jpg" alt="Ironman">
<form action="">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text">
    <button>Enviar datos</button>
</form>
<label for="fuera">Fuera</label>
<input id="fuera" type="text">
<button>Enviar datos Fuera</button>

<style>
    table, td, th{
        border: solid black 1px;

    }
</style>
<table>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>

    </tr>
    <tr>
        <td>Jorge Luis</td>
        <td>Zambrano Ibarra</td>
    </tr>
</table>
</body>
</html>

<br>
<br>
<br>
<br>

<iframe src="https://saew.epn.edu.ec" ></iframe>

<div>
    asdf
</div>



<br>
<br>
<br>
<br>